{{- define "main" }}
    <section class="card">
        {{ include "blog_title" . }}
        {{ page_content }}
        {{ include "blog_tags" . }}
    </section>
{{ end -}}

{{- define "base" }}
{{ end -}}

{{- define "blog_article" }}
{{ extends "_default" }}
{{ render "_default" }}
{{ end -}}
